@font-face {
	font-family: 'The Bold Font';
	src: local('The Bold Font'),
		url("/logo/TheBoldFont.ttf") format("ttf");
}

body {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.6;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: #CCC;
	padding: 30px;
}

.nav-tabs.nav-stacked>li>a:hover {
	border: none !important;
}

.hero-unit h1 {
	font-weight: 100;
}

.hero-unit p {
	margin-left: 0.4em;
}

.content i {
	font-family: Baskerville, Garamond;
	font-style: italic;
	font-size: 1.1;
}

.content p, .content li, .content label {
	font-family: Georgia, serif;
	font-size: 1.2rem;
	line-height: 2rem;
}

.content p {
	margin: 2rem 0;
}

.content small {
	font-size: 0.79rem;
	color: #555;
}

.content label.checkbox input {
	position: relative;
	top: 5px;
}

pre {
	background: none;
	border: none;
	margin: 20px 0;
	padding: 0;
}

pre code {
	padding: 10px !important;
	background: #F6f6f6 !important;
}

p>code {
	color: #000;
	padding: 2px;
	margin: 0 3px;
	border: 1px solid #eee;
}

.content ul, .content ol {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.content li {
	margin-bottom: 0.5rem;
}

.sidebar p {
	color: #555;
	padding: 0 30px;
	font-family: Georgia, serif;
	font-size: 14px;
}

.footnotes > ol > li, .footnotes > ol > li > p {
	font-size: 0.8rem;
	line-height: normal;
}

.btn-custom {
	background-color: #C65102 !important;
	font-size: 1.2em;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F79621", endColorstr="#C65102");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#F79621), to(#C65102));
	background-image: -moz-linear-gradient(top, #F79621, #C65102);
	background-image: -ms-linear-gradient(top, #F79621, #C65102);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F79621), color-stop(100%, #C65102));
	background-image: -webkit-linear-gradient(top, #F79621, #C65102);
	background-image: -o-linear-gradient(top, #F79621, #C65102);
	background-image: linear-gradient(#F79621, #C65102);
	border-color: #C65102 #C65102 hsl(29, 29%, 36%);
	color: #FFF !important;
	font-weight: bolder;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	min-width: 33%;
	-webkit-font-smoothing: antialiased;
	margin: 1em 0;
}

ul.thumbnails li {
	margin-bottom: 25px;
}

.content h1, .content h2, .content h3 {
	font-family: Garamond, 'Garamond classico', Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.headerlink {
	color: #ccc;
	font-family: Georgia;
	padding: 0 5px;
	visibility: hidden;
}

.headerlink:hover {
	text-decoration: none;
	background: #f9f9f9;
	color: #bbb;
}

h2:hover .headerlink,
h3:hover .headerlink {
	visibility: visible;
}

.nav-tabs.nav-stacked>li>a {
	border: 0;
}


.content h1 {
	margin: 1em 0 0.5em;
	font-size: 3rem;
	font-weight: normal;
}

.content h2 {
	font-size: 2rem;
	margin: 1rem 0 0rem;
	padding-bottom: 0;
	padding-top: 2rem;
	font-weight: normal;
}

.page-header h1 {
	margin: 0;
	font-weight: 300;
}

.footer {
	text-align: right;
	color: #888;
	font-size: 13px;
	margin-top: 3rem;
}

.footer a {
	color: #888;
	border-bottom: 1px dotted #888;
}

.footer a:hover {
	text-decoration: none;
	border-bottom: 1px solid #555;
	color: #555;
}

@media screen and (max-width: 979px) {

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.content p, .content li {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.content h1 {
		font-size: 2rem;
	}

	.content h2 {
		font-size: 1.8rem;
	}
}