body {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.6;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: #CCC;
	padding: 30px;
}

.nav-tabs.nav-stacked>li>a:hover {
	border: none !important;
}

.hero-unit h1 {
	font-weight: 100;
}

.hero-unit p {
	margin-left: 0.4em;
}

.content i {
	font-family: Baskerville, Garamond;
	font-style: italic;
	font-size: 1.1;
}

.content p, .content li, .content label {
	font-family: Georgia, serif;
	font-size: 1.2rem;
	line-height: 2rem;
}

.content p {
	margin: 2rem 0;
}

.content li {
	margin-left: 1.5rem;
}

.content small {
	font-size: 0.79rem;
	color: #555;
}

.content label.checkbox input {
	position: relative;
	top: 5px;
}

pre {
	background: none;
	border: none;
	margin: 20px 0;
	padding: 0;
}

pre code {
	padding: 10px !important;
	background: #F6f6f6 !important;
}

p>code {
	color: #000;
	padding: 2px;
	margin: 0 3px;
	border: 1px solid #eee;
}

.content ul, .content ol {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.content li {
	margin-bottom: 0.5rem;
}

.sidebar p {
	color: #555;
	padding: 0 30px;
	font-family: Georgia, serif;
	font-size: 14px;
}

.footnotes > ol > li, .footnotes > ol > li > p {
	font-size: 0.8rem;
	line-height: normal;
}

.btn-custom {
	background-color: hsl(29, 29%, 40%) !important;
	font-size: 1.4rem;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af8d6e", endColorstr="#836548");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#af8d6e), to(#836548));
	background-image: -moz-linear-gradient(top, #af8d6e, #836548);
	background-image: -ms-linear-gradient(top, #af8d6e, #836548);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #af8d6e), color-stop(100%, #836548));
	background-image: -webkit-linear-gradient(top, #af8d6e, #836548);
	background-image: -o-linear-gradient(top, #af8d6e, #836548);
	background-image: linear-gradient(#af8d6e, #836548);
	border-color: #836548 #836548 hsl(29, 29%, 36%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	min-width: 15em;
	-webkit-font-smoothing: antialiased;
	margin: 1em;
}

ul.thumbnails li {
	margin-bottom: 25px;
}

.content h1, .content h2, .content h3 {
	font-family: Garamond, 'Garamond classico', Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.content.docs h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.content.docs h3 {
	margin: 30px 0 20px;
	font-size: 28px;
	font-weight: normal;
}

.content.docs .source {
	font-size: 13px;
	text-align: right;
	color: #999;
}

.content.docs .source a {
	color: #888;
	border-bottom: 1px dotted #888;

}

.headerlink {
	color: #ccc;
	font-family: Georgia;
	padding: 0 5px;
	visibility: hidden;
}

.headerlink:hover {
	text-decoration: none;
	background: #f9f9f9;
	color: #bbb;
}

h2:hover .headerlink,
h3:hover .headerlink {
	visibility: visible;
}

.nav-tabs.nav-stacked>li>a {
	border: 0;
}


.content h1 {
	margin: 1em 0 0.5em;
	font-size: 42px;
	font-weight: normal;
}

.content h2 {
	font-size: 30px;
	margin: 1em 0 0.4em;
	font-weight: normal;
}

.page-header h1 {
	margin: 0;
	font-weight: 300;
}

.footer {
	text-align: right;
	color: #888;
	font-size: 13px;
	margin-top: 3rem;
}

.footer a {
	color: #888;
	border-bottom: 1px dotted #888;
}

.footer a:hover {
	text-decoration: none;
	border-bottom: 1px solid #555;
	color: #555;
}

@media screen and (max-width: 979px) {

	.content p, .content li {
		font-size: 13px;
		line-height: 19px;
	}

	.content h1 {
		font-size: 32px;
	}

	.content h2 {
		font-size: 23px;
	}
}