<div class="footer">
        <p align="center">
                |
                {% for page in site.pages %}
                {% if page.path contains ".md" %}
                <a href="{{ page.url }}">{{ page.title }}</a> |
                {% endif %}
                {% endfor %}
        </p>
        <p align="center">
                <b>Looking for meetups?</b>
                👉 <a href="https://bitcoin-only.com/meetups" target="_blank">bitcoin-only.com/meetups</a>
        </p>
        <p align="center">
                <b>Looking for meetup alternatives?</b>
                👉 <a href="https://bitcoinwalk.org/" target="_blank">bitcoinwalk.org</a>
        </p>
        <p align="center">
                <b>Looking for merchants?</b>
                👉 <a href="https://btcmap.org" target="_blank">btcmap.org</a>
        </p>
        <p align="center">
                Made with <a href="https://dergigi.com/support" target="_blank">🧡</a> by <a href="https://dergigi.com"
                target="_blank">Gigi</a>.
        </p>
</div>
