<div class="footer">
        <p align="center">
                |
                {% for page in site.pages %}
                {% if page.path contains ".md" %}
                <a href="{{ page.url }}">{{ page.title }}</a> |
                {% endif %}
                {% endfor %}
        </p>
        <p align="center">
                <b>Looking for bitcoin-only meetups?</b></br>
                Have a look at <a href="https://bitcoin-only.com/meetups" target="_blank">bitcoin-only.com/meetups</a>
                and <a href="https://www.bitcoinerevents.com/" target="_blank">bitcoinerevents.com</a>
        </p>
        <p align="center">
                Made with <a href="https://dergigi.com/support" target="_blank">🧡</a> by <a href="https://dergigi.com"
                target="_blank">Gigi</a>.
        </p>
</div>