<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - {{ site.tagline }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="{{ site.tagline }}">
   <meta name="author" content="Gigi">

   <meta name="twitter:card" content="summary_large_image" />
   <meta name="twitter:creator" content="@dergigi" />
   <meta property="og:url" content="https://twentyone.world" key="ogurl" />
   <meta property="og:image" content="https://twentyone.world/social.png" key="ogimage" />
   <meta property="og:site_name" content="twentyone.world" key="ogsitename" />
   <meta property="og:title" content="twentyone.world" key="ogtitle" />
   <meta property="og:image:width" content="1200" />
   <meta property="og:image:height" content="630" />
   <meta property="og:description" content="A network of communities that provide localized, high-quality, bitcoin-only content as well as a space for bitcoiners in their respective countries to connect, collaborate, and exchange ideas." key="ogdesc" />
   
   <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
   <link rel="stylesheet" href="/css/21.css" type="text/css" />
   <link rel="shortcut icon" href="/favicon.ico">

   <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
   <script type="text/javascript" src="/js/raphael-2.1.0.min.js"></script>
   <script type="text/javascript" src="/js/kartograph.js"></script>

</head>

<body>
   {{ content }}
</body>

</html>