---
layout: core
---

	<div class="container">
		<div class="row">
			<div class="span6 offset6">
				&nbsp;
			</div>
		</div>
		<div class="row">

			<div class="span12">
				{% if page.headline %}
				<div class="hero-unit"{% if page.headbg %} style="background:url({{page.headbg}})" {% endif %}>
   					<h1>{{ page.headline }}</h1>
				</div>
				{% endif %}
				<div class="content{% if page.class %} {{ page.class }}{% endif %}">
					{{ content }}
				</div>
				<div class="footer">
					&copy; Copyright 2012-2014. Created by <a href="http://driven-by-data.net">Gregor Aisch</a>.
				</div>
			</div>
		</div>
	</div>
